@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
* {
    box-sizing: boarder-box;
}

body {
    background: rgb(0, 75, 12) url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    color: rgb(0, 136, 23);
    font-family: 'Merienda', sans-serif;
}

#a {
    background: #224941 url('https://images.unsplash.com/photo-1559825481-12a05cc00344?ixlib=rb-1.2.1&w=1000&q=80') no-repeat center center/cover;
    color: aliceblue;
    font-family: 'Merienda', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#b {
    background: rgb(0, 75, 12) url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1440&q=80') no-repeat center center/cover;
    color: rgb(0, 136, 23);
    font-family: 'Merienda', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#c {
    background: #492222 url('https://images.unsplash.com/photo-1553949345-eb786bb3f7ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
    color: rgb(255, 102, 0);
    font-family: 'Merienda', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.jumbotron {
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1);
}

#gradient-circleA {
    background: conic-gradient( #55b7a4 0%, #4ca493 40%, #fff 40%, #fff 60%, #336d62 60%, #2a5b52 100%);
    height: 320px;
    width: 320px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

#gradient-circleB {
    background: conic-gradient( #58b755 0%, #4ca45f 40%, rgb(108, 134, 116) 40%, rgb(108, 134, 116) 60%, #336d40 60%, #2a5b35 100%);
    height: 320px;
    width: 320px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

#gradient-circleC {
    background: conic-gradient( #b75555 0%, #a44c4c 40%, rgb(95, 95, 95) 40%, rgb(95, 95, 95) 60%, #6d3333 60%, #5b2a2a 100%);
    height: 320px;
    width: 320px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

#circleA {
    background-color: #010f1c;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

#circleB {
    background-color: #011c0b;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

#circleC {
    background-color: #2c0000;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

#pointerA {
    background-color: rgb(0, 136, 255);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

#pointerB {
    background-color: rgb(0, 255, 85);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

#pointerC {
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

.container.grow {
    animation: grow 3s linear forwards;
}

.container.shrink {
    animation: shrink 3s linear forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

.square {
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 30%;
    /* = width for a 1:1 aspect ratio */
    margin: 1.66%;
    overflow: hidden;
}

.content {
    position: absolute;
    height: 90%;
    /* = 100% - 2*10% padding */
    width: 90%;
    /* = 100% - 2*5% padding */
    padding: 10% 5%;
}

.content .rs {
    width: 150px;
    height: 150px;
    max-height: 90%;
    max-width: 100%;
}